extends Layout

div(class="container", style="margin-top:30px")
  div(class="row")
    div(class="col-sm-8")
      h2 #{fname}
      div(class="fakeimg")R Image

    div(class="col-sm-4")
        div(class="fakeimg")Yes
        div(class="fakeimg")Kinda
        div(class="fakeimg")No