extends ../../../layout

block content
  h1 #{title}
  div(style='margin-left:20px;margin-top:20px')
  p Are you sure you want to delete the client?
  form(method='POST' action='')
    .form-group
      input#clientid.form-control(type='hidden',name='clientid', required='true', value=client._id )
    button.btn.btn-primary(type='submit') Delete