extends ../../layout.pug

block content

  h1 Clinician: #{clinician.name}
  
  div

    p #[strong Phone:] #{clinician.phone}
    p #[strong Email:] #{clinician.email}

    p
    a(href='/clinicians/'+clinician._id+'/delete') Delete clinician
    p
    a(href='/clinicians/'+clinician._id+'/edit') Edit Clinician Info