extends ../layout.pug

block content

  div(class="container", style="margin-top:30px")
    div(class="row")
      div(class="col-sm-8")
        h2 #{fname}
        div(class="fakeimg")R Image

      div(class="col-sm-4")
          img(src="/images/greencheckmark.svg", width='180', height='180')
          img(src="/images/greyNotEqual.svg", width='180', height='180')
          img(src="/images/redX.svg", width='180', height='180')