extends ../../layout.pug

block content

  h1 Client: #{client.name}
  
  div

  p #[strong DOB:] #{client.dob}

    p
    a(href='/clients/'+client._id+'/delete') Delete Client
    p
    a(href='/clients/'+client._id+'/edit') Update Client
    p
    a(href='/update') Reports
    p
    a(href='/clients/'+client._id+'/letters') Start Session