extends ../../layout.pug

block content
  .main.container

    h1 Client: #{client.name}
    
    div

    p #[strong DOB:] #{client.reportdate}

      p
      a(href='/clients/'+client._id+'/delete') Delete Client
      p
      a(href='/clients/'+client._id+'/edit') Update Client
      p
      a(href='/report') Reports
      p
      a(href='/clients/'+client._id+'/letters') Start Session