extends ../layout.pug

block content
  div
    button(onclick="window.location.href='/clients/add-client/'", type='button', class='btn btn-primary btn-block') Add Client

  div(class="container", style="margin-top:30px")
      div(class="row")
          div(class="col-sm-8")
      h2 Client List
  ul
      - client_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
      each client in client_list
        li 
          a(href='/clients/'+ client._id) #{client.name} 

      else
        li There are no Clients