extends ../../../layout.pug

block content
    .main.container
        h1 #{client.name} Session Reports

        .row

            ul
                each session in sessions
                    li 
                        a(href='/clients/'+ client._id + '/reports/' + session.session_id) #{session.day} 
                else
                    li There are no Sessions