extends ../../../../layout.pug

block content
    .main.container
        h1 #{client.name} Report

        .row
            .col-md-6.col-md-offset-3
                h3 R Sounds
                    div(class="container")         
                        table(class="table table-bordered")
                        tbody
                            tr
                            td Type
                            td #Correct
                            td #Oppturnities
                            td %Correct
                            tr
                            td /air/ Initial
                            td C
                            td O
                            td %
                            tr
                            td /air/ Medial
                            td C
                            td O
                            td %
                            tr
                            td /air/ Final
                            td C
                            td O
                            td %
                            tr
                            td /ar/ Initial
                            td C
                            td O
                            td %
                            tr
                            td /ar/ Medial
                            td C
                            td O
                            td %
                            tr
                            td /ar/ Final
                            td C
                            td O
                            td %
                            tr
                            td /ear/ Initial
                            td C
                            td O
                            td %
                            tr
                            td /ear/ Medial
                            td C
                            td O
                            td %
                            tr
                            td /ear/ Final
                            td C
                            td O
                            td %
                            tr
                            td /ire/ Initial
                            td C
                            td O
                            td %
                            tr
                            td /ire/ Medial
                            td C
                            td O
                            td %
                            tr
                            td /ire/ Final
                            td C
                            td O
                            td %
                            tr
                            td /or/ Initial
                            td C
                            td O
                            td %
                            tr
                            td /or/ Medial
                            td C
                            td O
                            td %
                            tr
                            td /or/ Final
                            td C
                            td O
                            td %
                            tr
                            td /er/ Initial
                            td C
                            td O
                            td %
                            tr
                            td /er/ Medial stressed
                            td C
                            td O
                            td %
                            tr
                            td /er/ Medial unstressed
                            td C
                            td O
                            td %
                            tr
                            td /er/ Final
                            td C
                            td O
                            td %
                            tr
                            td /rl/
                            td C
                            td O
                            td %
                            tr
                            td Prevocalic /r/
                            td C
                            td O
                            td %