extends ../../../../layout.pug

block content
    .main.container
        h1 #{client.name} Report

        .row
            .col-md-6.col-md-offset-3
                h3 R Sounds
                    div(class="container")         
                        