extends Layout

<body>

      div(class="container")         
        table(class="table table-bordered")
          tbody
            tr
              td(class="text-center")/air/initial
              td(class="text-center")/air/medial
              td(class="text-center")/air/final
            tr
              td(class="text-center")/ar/initial
              td(class="text-center")/ar/medial
              td(class="text-center")/ar/final
            tr
                td(class="text-center")/ear/initial
                td(class="text-center")/ear/medial
                td(class="text-center")/ear/final
            tr
                td(class="text-center")/ire/initial
                td(class="text-center")/ire/medial
                td(class="text-center")/ire/final
            tr
                td(class="text-center")/ar/initial
                td(class="text-center")/ar/medial
                td(class="text-center")/ar/final
            <tr>
                td(class="text-center")/or/initial
                td(class="text-center")/or/medial
                td(class="text-center")/or/final
            tr
                td(class="text-center")/ar/initial
                td(class="text-center")/ar/medial
                td(class="text-center")/ar/final