extends ../../../../Layout

block content

  h3 Choose a sound to start a session

  div(class="container")         
    table(class="table table-bordered")
      tbody
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[0]._id+", type='button') /air/ Initial
          td(onclick="window.location.href='/clients/letters/session/'+form[1]._id+", type='button') /air/ Medial
          td(onclick="window.location.href='/clients/letters/session/'+form[2]._id+", type='button') /air/ Final
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[3]._id+", type='button') /ar/ Initial
          td(onclick="window.location.href='/clients/letters/session/'+form[4]._id+", type='button') /ar/ Medial
          td(onclick="window.location.href='/clients/letters/session/'+form[5]._id+", type='button') /ar/ Final
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[6]._id+", type='button') /ear/ Initial
          td(onclick="window.location.href='/clients/letters/session/'+form[7]._id+", type='button') /ear/ Medial
          td(onclick="window.location.href='/clients/letters/session/'+form[8]._id+", type='button') /ear/ Final
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[9]._id+", type='button') /ire/ Initial
          td(onclick="window.location.href='/clients/letters/session/'+form[10]._id+", type='button') /ire/ Medial
          td(onclick="window.location.href='/clients/letters/session/'+form[11]._id+", type='button') /ire/ Final
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[12]._id+", type='button') /or/ Initial
          td(onclick="window.location.href='/clients/letters/session/'+form[13]._id+", type='button') /or/ Medial
          td(onclick="window.location.href='/clients/letters/session/'+form[14]._id+", type='button') /or/ Final
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[15]._id+", type='button') /er/ Initial
          td(onclick="window.location.href='/clients/letters/session/'+form[16]._id+", type='button') /er/ Medial stressed
          td(onclick="window.location.href='/clients/letters/session/'+form[17]._id+", type='button') /er/ Medial unstressed
        tr
          td(onclick="window.location.href='/clients/letters/session/'+form[18]._id+", type='button') /er/ Final
          td(onclick="window.location.href='/clients/letters/session/'+form[19]._id+", type='button') /rl/
          td(onclick="window.location.href='/clients/letters/session/'+form[20]._id+", type='button') Prevocalic /r/