extends ../../../../Layout

block content

  div(class="container")         
    table(class="table table-bordered")
      tbody
        tr
          td(class='button')/air/initial
          td(class='button')/air/medial
          td(class="button")/air/final
        tr
          td(class="button")/ar/initial
          td(class="button")/ar/medial
          td(class="button")/ar/final
        tr
            td(class="button")/ear/initial
            td(class="button")/ear/medial
            td(class="button")/ear/final
        tr
            td(class="button")/ire/initial
            td(class="button")/ire/medial
            td(class="button")/ire/final
        tr
            td(class="button")/ar/initial
            td(class="button")/ar/medial
            td(class="button")/ar/final
        tr
            td(class="button")/or/initial
            td(class="button")/or/medial
            td(class="button")/or/final
        tr
            td(class="button")/ar/initial
            td(class="button")/ar/medial
            td(class="button")/ar/final