extends ../../../../Layout

block content

  h3 Choose a sound to start a session

  div(class="container")         
    table(class="table table-bordered")
      tbody
        tr
          td(onclick="window.location.href='/clients/:client_id/letters/:sound_id'", type='button') /air/initial
          td(onclick="window.location.href='/add-user/'", type='button') /air/medial
          td(onclick="window.location.href='/add-user/'", type='button') /air/final
        tr
          td(onclick="window.location.href='/add-user/'", type='button') /ar/initial
          td(onclick="window.location.href='/add-user/'", type='button') /ar/medial
          td(onclick="window.location.href='/add-user/'", type='button') /ar/final
        tr
            td(onclick="window.location.href='/add-user/'", type='button') /ear/initial
            td(onclick="window.location.href='/add-user/'", type='button') /ear/medial
            td(onclick="window.location.href='/add-user/'", type='button') /ear/final
        tr
            td(onclick="window.location.href='/add-user/'", type='button') /ire/initial
            td(onclick="window.location.href='/add-user/'", type='button') /ire/medial
            td(onclick="window.location.href='/add-user/'", type='button') /ire/final
        tr
            td(onclick="window.location.href='/add-user/'", type='button') /ar/initial
            td(onclick="window.location.href='/add-user/'", type='button') /ar/medial
            td(onclick="window.location.href='/add-user/'", type='button') /ar/final
        tr
            td(onclick="window.location.href='/add-user/'", type='button') /or/initial
            td(onclick="window.location.href='/add-user/'", type='button') /or/medial
            td(onclick="window.location.href='/add-user/'", type='button') /or/final
        tr
            td(onclick="window.location.href='/add-user/'", type='button') /ar/initial
            td(onclick="window.location.href='/add-user/'", type='button') /ar/medial
            td(onclick="window.location.href='/add-user/'", type='button') /ar/final