extends ../../../layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Edit Client

        // register form
        form(method='POST')
          div.form-group
            label(for='fname') First Name:
            input#name.form-control(type='text', value=client.fname name='fname')
          div.form-group
            label(for='lname') Last Name:
            input#email.form-control(type='text', value=client.lname name='lname')
          div.form-group
            label(for='dob') Date of Birth:
            input#favoriteBook.form-control(type='date', value=client.formdate name='dob')
          button.btn.btn-primary(type='submit') Update
        if errors
          ul
            for error in errors
              li != error.msg