extends ../../../layout

block content
  if clients.length
    p #[strong You must delete the following clients before deleting this clinician:]
    div(style='margin-left:20px;margin-top:20px')
      h4 Clients
      dl
      each client in clients
        li 
          p #{client.name}

  else
    p Do you really want to delete this Clinician?
    
    form(method='POST' action='')
      div.form-group
        input#clinicianid.form-control(type='hidden',name='clinicianid', required='true', value=clinician._id )
      button.btn.btn-primary(type='submit') Delete